# --- JARVIS CORE ---
flask
flask-cors
ollama
waitress
requests

# --- VOICE & AUDIO ---
edge-tts
pygame
vosk
sounddevice

# --- SKILLS ---
pyautogui
pdfplumber
duckduckgo-search
dateparser
spotipy
python-dotenv
pyperclip

# --- SYSTEM ---
psutil
redis
